body {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	font: normal 1.1em 'open sans';
	line-height: 1.4;
	background: #000;
	color: #000;
}

h1, h2, h3 {
	color: #000;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

h3 {
	font-size: 1.3em;
}

p {
	margin-bottom: 1.1em;
}

ul {
	list-style-type: disc;
	margin: 1.5em;
}

#header {
	background-color: #000000;
	padding: 32px 32px 0 46px;
}


#logo {
	color: #FFF;
}

#site-title a {
	text-decoration: none;
}

#site-title, #site-title a {
	color: #FFF;
	text-decoration: none;
}

#site-slogan {
	color: #FFF;
	font-size: 1.3em;
	text-decoration: none;
}

.gsc-control-cse {
  background:transparent !important; /* enforce this rule; do not allow override */
  border-color:transparent !important; /* border color */
}

#mountain {
	width: 40%;
	height: auto;
	margin-left: 30%;
  }

.inhoud {
	font-size: 1.1em;
	background-color: #FFFFE0;
	min-height: 400px;
	}

.inhoud a {
	color: #ae7d7d;
	text-decoration: none;
}

.inhoud a:hover {
	color: #4f0a21;
	font-weight: bold;
}

#tekst-inhoud {
	padding: 18px;
}

.artikel {
	text-align: justify;
	color: #000;
	padding: 15px 20px 20px 15px;
	
}

.artikel-voet {
	text-align: right;
	font-size: 1em;
}

.nieuws a {
	text-decoration: none;
	text-align: justify;
	color: #4f0a21;
	font-size: 1em;
}

.nieuws-afbeelding {
	float: left;
	width: 130px;
}

.nieuws-afbeelding a {
	padding: 5px;
}

.nieuws-afbeelding:hover {
opacity: 0.8;
}

.nieuws-tekst h3 {
	font-weight: bold;
	margin-bottom: 3px;
}

#voet-nav {
	background: #4f0a21;
	border-top: 1px solid #4f0a21;
	font-size: 1.1em;
	padding: 7px 9px;
	margin-bottom: 7px;
}

#voet-nav a {
	color: #c5baa1;
	text-decoration: none;
}

#voet-nav a:hover {
	color: #fff;
	font-weight: bold;
}

#voet-nav span.text-separator {
	color: #c5baa1;
}

#footer {
	color: #778899;
	padding: 0 7px 9px;
	font: normal 0.9em sans-serif;
}

#footer a {
	color: #778899;
	text-decoration: none;
}

#footer a:hover, #bottom.left a:hover {
	color: #778899;
}

#footer span.text-separator {
	color: #778899;
	padding: 3px;
}

.left {
	float: left;
}

@media only screen and (max-width: 1050px) {
	
	h1 {
		font-size: 1.2em;
	}
	
	h2 {
		font-size: 1.1em;
		text-align: center;
	}
	
	h3 {
		font-size: 1em;
		}
	
	p {
		margin-bottom: 0.9em;
	}
	
	#header {
		padding: 5px 5px 0 9px;
	}
	
	#site-slogan {
		font-size: 0.8em;
	}
	 
	#mountain {
		width: 90%;
		margin-left: 5%;
		padding-top: 20px;
	}

	.inhoud {
		font-size: 0.9em;
		min-height: 500px;
	}
	
	#tekst-inhoud {
		padding: 9px;
	}
	
	.artikel {
              padding: 8px 10px 10px 8px;
	}
	
	.artikel-voet {
		font-size: 1em;
	}
	
	.nieuws a {
		font-size: 1em;
	}
	
	.nieuws-afbeelding {
		float: left;
		width: 130px;
	}
	
	.nieuws-afbeelding a {
		padding: 5px;
	}
	
	.nieuws-afbeelding:hover {
	opacity: 0.8;
	}
	
	.nieuws-tekst h3 {
		text-align: center;
	}
	
	#voet-nav {
		font-size: 0.8em;
		padding: 5px 7px;
		margin-bottom: 4px;
	}
	
	#footer {
		padding: 0 7px 9px;
		font: normal 0.7em sans-serif;
	}
	
	#footer span.text-separator {
		padding: 2px;
	}
	
}
