body {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	font: normal 1.1em 'open sans';
	line-height: 1.4;
	background: #000;
	color: #000;
}

h1, h2, h3 {
	color: #000;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

h3 {
	font-size: 1.3em;
}

p {
	margin-bottom: 1.1em;
}

ul {
	list-style-type: disc;
	margin: 1.5em;
}

#header {
	background-color: #303030;
	padding: 32px 32px 0 46px;
}

#header-nav {
	height: 39px;
	text-align: right;
	color: #666;
	font-size: 1.2em;
}

#header-nav-link a {
	color: #778899;
	text-decoration: none;
}

#header-nav-link a:hover {
	color: #DB7093;
	font-weight: bold;
}

#header-nav-link span.text-separator {
	color: #444;
}

#logo {
	color: #FFF;
}

#site-title a {
	text-decoration: none;
}

#site-title, #site-title a {
	color: #FFF;
	text-decoration: none;
}

#site-slogan {
	color: #BC8F8F;
	font-size: 1.3em;
	text-decoration: none;
}

#primaire-nav {
	background-color: #DB7093;
	height: 46px;
	padding: 7px 9px;
}

#primaire-nav a {
	color: #EAE6DD;
	display: block;
	font-weight: bold;
	font-size: 1.3em;
	padding: 9px 10px;
}

#primaire-nav a:hover {
	color: #FFF;
}

ul.tab {
	display: inline;
}

ul.tab li {
	float: left;
	list-style: none;
}

ul.tab a {
	text-decoration: none;
}

#div {
width: 150px;
margin-left: 300px;
margin-top: 38px;
border-style: none;
background-color: #BC8F8F;
} 

.gsc-control-cse {
  background:transparent !important; /* enforce this rule; do not allow override */
  border-color:transparent !important; /* border color */
}

.inhoud {
	font-size: 1.1em;
	background-color: #FFFFE0;
	min-height: 400px;
	float: center;
}

.inhoud a {
	color: #BC8F8F;
	text-decoration: none;
}

.inhoud a:hover {
	color: #DB7093;
	font-weight: bold;
}

.webdesigntrends2-afbeelding {
  padding: 0 270px 0 270px; 
}

.webdesigntrends-afbeelding {
	padding: 0 200px 0 200px; 
}

#tekst-inhoud {
	padding: 18px;
}

.artikel {
	text-align: justify;
	color: #000;
	padding: 15px 20px 20px 15px;
	
}

.artikel-voet {
	text-align: right;
	font-size: 1em;
}

.nieuws a {
	text-decoration: none;
	text-align: justify;
	color: #BC8F8F;
	font-size: 1em;
}

.nieuws-afbeelding {
	float: left;
	width: 130px;
}

.nieuws-afbeelding a {
	padding: 5px;
}

.nieuws-afbeelding:hover {
opacity: 0.8;
}

.nieuws-tekst h3 {
	font-weight: bold;
	margin-bottom: 3px;
}

#voet-nav {
	background: #303030;
	border-top: 1px solid #303030;
	font-size: 1.1em;
	padding: 7px 9px;
	margin-bottom: 7px;
}

#voet-nav a {
	color: #778899;
	text-decoration: none;
}

#voet-nav a:hover {
	color: #DB7093;
	font-weight: bold;
}

#voet-nav span.text-separator {
	color: #444;
}

#footer {
	color: #778899;
	padding: 0 7px 9px;
	font: normal 0.9em sans-serif;
}

#footer a {
	color: #778899;
	text-decoration: none;
}

#footer a:hover, #bottom.left a:hover {
	color: #778899;
}

#footer span.text-separator {
	color: #778899;
	padding: 3px;
}

.left {
	float: left;
}

@media only screen and (max-width: 1050px) {
	h1 {
		font-size: 1em;
	}
	
	h2 {
		font-size: 1em;
	}
	
	h3 {
		font-size: 0.9em;
	}
	
	p {
		margin-bottom: 0.9em;
	}
	
	ul {
		margin: 1em;
	}
	
	#header {
		padding: 8px 8px 0 12px;
	}
	
	#header-nav {
		height: 30px;
		font-size: 0.7em;
	}
	#site-slogan {
		font-size: 1em;
	}
	
	#primaire-nav {
		height: 23px;
		padding: 2px 3px;
	}
	
	#primaire-nav a {
		font-size: 0.7em;
		padding: 3px 5px;
	}
	
	#div {
	width: 60px;
	margin-left: 150px;
	margin-top: 16px;
	} 
	.inhoud {
		font-size: 1em;
		min-height: 200px;
	}
	
	
	.webdesigntrends2-afbeelding {
	  padding: 0 2px 0 2px; 
	}
	
	.webdesigntrends-afbeelding {
		padding: 0 2px 0 2px; 
	}
	
	#tekst-inhoud {
		padding: 9px;
	}
	
	.artikel {

		padding: 8px 10px 10px 8px;
		
	}
	
	.artikel-voet {
		font-size: 1em;
	}
	
	.nieuws a {
		font-size: 1em;
	}
	
	.nieuws-afbeelding {
		float: left;
		width: 20px;
	}
	
	.nieuws-afbeelding a {
		padding: 5px;
	}
	
	.nieuws-afbeelding:hover {
	opacity: 0.9;
	}
	
	.nieuws-tekst h3 {
		margin-bottom: 1px;
	}
	
	#voet-nav {
		font-size: 1em;
		padding: 5px 7px;
		margin-bottom: 4px;
	}
	
	#footer {
		padding: 0 7px 9px;
		font: normal 0.7em sans-serif;
	}
	
	
	#footer span.text-separator {
		padding: 2px;
	}
	
	.left {
		float: left;
	}
}